{% load i18n %}
<div class="list-group" id="group-task-list">
    {% for group_task in group_tasks %}
        <div class="list-group-item flex-column align-items-start custom-list-group-item">

            <div class="d-flex w-100 justify-content-between">
                <a class="btn btn-sm btn-danger" href="{% url 'project:group_task_reversions' project_code=project.code group_task_code=group_task.code %}">
                    <i class="fa fa-history" aria-hidden="true"></i>&#9;<span>{% trans 'Reversions' %}</span>
                </a>
                <a class="btn btn-sm btn-info" href="{{ group_task.get_absolute_url }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>&#9;<span>{% trans 'Tasks' %}</span>
                </a>
            </div>

            <div class="d-flex w-100 justify-content-center">
                <h5 class="mb-1">{{ group_task.name }}</h5>
            </div>

            <div class="d-flex w-100 justify-content-center">
                <small class="text-uppercase">{% trans 'Symbol' %}:&#9;{{ group_task.symbol }}</small>
            </div>

            <div class="d-flex w-100 justify-content-end custom-d-flex">
                {% if request_user_is_business_analyst %}
                <div class="mr-auto">
                    <a class="btn btn-sm btn-warning" id="js-edit-group-task-button" data-url="{% url 'project:group_task_edit' project_code=project.code group_task_code=group_task.code %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>&#9;<span>{% trans 'Edit' %}</span>
                    </a>
                </div>
                {% endif %}
                <div class="group-task-comment-number">
                    {% include 'project/group_task_comment_number.html' %}
                </div>
                <div>
                    <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#collapse-group-task-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse-group-task-{{ forloop.counter }}">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>&#9;<span>{% trans 'Comments' %}</span>
                    </a>
                </div>
            </div>

            <div class="collapse w-100 comment-list-block" id="collapse-group-task-{{ forloop.counter }}">
                <div class="list-group custom-list-group">
                    <div class="list-group-item bg-faded">
                        {% include 'project/group_task_comment_form.html' %}
                    </div>
                    <div class="group-task-comments">
                        {% include 'project/group_task_comment_list.html' %}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="list-group-item flex-column align-items-start custom-no-top-radius">
            <div class="d-flex w-100 justify-content-center">
                <h6 class="mb-1 custom-h"><i class="fa fa-info-circle" aria-hidden="true"></i>&#9;{% trans 'NO INFORMATION' %}</h6>
            </div>
        </div>
    {% endfor %}
</div>