{% load i18n static widget_tweaks %}

{% if group_requirement_type.symbol == "V" %}
    <form method="post" action="{% url 'project:v_requirement_edit' project_code=project.code group_requirement_type_code=group_requirement_type.code group_requirement_code=group_requirement.code requirement_code=requirement.code %}" class="js-v-requirement-edit-form">
{% elif  group_requirement_type.symbol == "FA" %}
    <form method="post" action="{% url 'project:fa_requirement_edit' project_code=project.code group_requirement_type_code=group_requirement_type.code group_requirement_code=group_requirement.code requirement_code=requirement.code %}" class="js-fa-requirement-edit-form">
{% elif  group_requirement_type.symbol == "DF" %}
    <form method="post" action="{% url 'project:df_requirement_edit' project_code=project.code group_requirement_type_code=group_requirement_type.code group_requirement_code=group_requirement.code requirement_code=requirement.code %}" class="js-df-requirement-edit-form">
{% else %}
    <form method="post" action="{% url 'project:requirement_edit' project_code=project.code group_requirement_type_code=group_requirement_type.code group_requirement_code=group_requirement.code requirement_code=requirement.code %}" class="js-requirement-edit-form">
{% endif %}
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title text-uppercase">{% trans 'Edit requirement' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label class="form-control-label text-center w-100" for="{{ requirement_form.description.id_for_label }}">{{ requirement_form.description.label }}</label>
        {% render_field requirement_form.description  class="form-control" %}

        <label class="form-control-label text-center w-100 mt-2" for="{{ requirement_form.function.id_for_label }}">{{ requirement_form.function.label }}</label>
        <div class="tree">{{ requirement_form.function }}</div>
        {{ requirement_form.data_tree }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>

<script src="{% static 'js/tree_widget.js' %}"></script>