{% load i18n widget_tweaks %}

<form method="post" class="w-100 user-characteristic-comment-form" action="{% url 'project:user_characteristic_comment_add' project_code=project.code user_characteristic_code=user_characteristic.code %}">
    {% csrf_token %}
    <div class="row custom-row bg-faded">
        <div class="col-10 custom-padding-left-col">
            {% for field in user_characteristic_comment_form %}
                <div class="form-group comment-form-group">
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
        </div>
        <div class="col-2 custom-padding-right-col">
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
</form>